.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 10px;
    gap: 15px;
    position: static;
    width: auto;
    background: #FFFFFF;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    text-align: center;
    padding: 5px;
    gap: 0px;
    width: 100%;
    height: auto;
    border-radius: 0;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;

    color: #1F2937;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20%;
    padding: 10px 10px;
    width: 90%;
    height: auto;
    border-radius: 0;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: fit-content;
    border-radius: 0;
    flex: none;
    order: 0;
    flex-grow: 0;
}

a {

    font-family: 'Work Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    text-align: center;

    color: #1F2937;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
    width: fit-content;
    height: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;
    justify-content: space-between;
}

.search {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
    width: 20%;
    height: 30px;
    background: #F3F4F6;
    border-radius: 0;
    flex: none;
    order: 2;
    flex-grow: 0;
    justify-content: flex-start;
    align-items: center;
}

.content {
    display: flex;
    width: 90%;
    padding: 10px 10px;
    height: fit-content;
    border-radius: 0px;
    flex: auto;
    order: 2;
    align-self: center;
    flex-grow: 10;
    flex-direction: row;
    justify-content: flex-start;
}

.solid {
    width: 100px;
    height: 0px;
    border: 1px solid #E5E7EB;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 10px;
    margin-right: 15%;
    width: 10em;
    height: fit-content;
    border-radius: 1px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background-color: #ccc2c2;
    justify-content: space-between;

}

.table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    height: fit-content;
    background: #c1c9d7;
    border-radius: -9px;
    flex: none;
    order: 1;
    flex-grow: 1;
}

th, td {
    padding: 5px;
    width: 5em;
    text-align: center;
}

.descr {
    text-align: left;
    width: 20em;
}