<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="categories (categories)">
	<div class="category">
		<div th:switch="${categories}">
			<h2 th:case="null">No categories found!</h2>
			<div th:case="*">
				<table>
					<tbody>
					<tr th:each="category : ${categories}">
						<td> <a th:href="@{/web/items(categoryId=${category.getId()})}" th:text="${category.getName()}"></a></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>